<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721187407409-gb2u2alip0a2resvfu8mvgne0k41svgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721187407409-gb2u2alip0a2resvfu8mvgne0k41svgu</string>
	<key>API_KEY</key>
	<string>AIzaSyAV8ffAUjv0A7yNJ6AchsAkoOnVEaSSqaY</string>
	<key>GCM_SENDER_ID</key>
	<string>721187407409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.usys.report</string>
	<key>PROJECT_ID</key>
	<string>usysr-a16ef</string>
	<key>STORAGE_BUCKET</key>
	<string>usysr-a16ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721187407409:ios:65384a78950821ed017710</string>
	<key>DATABASE_URL</key>
	<string>https://usysr-a16ef-default-rtdb.firebaseio.com</string>
</dict>
</plist>